
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");


@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'ONE-Mobile-Title';}


body {
    margin:auto;
    height: 100vh;
    width: 100vw;
    background-image: url('../image/main_hand.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    font-family: 'ONE-Mobile-Title';
  }

h1::after {
  content: '';
  animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}

.clearfix { clear: both; content: ''; display: block }



@media screen and (max-width: 992px){
  .getready{
    display: none;
  }


}

  
